*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #e6e6e6;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 1px 2px 0px 0px rgb(192, 192, 192);
}
header img{
    width: 200px;
}
nav{
    width: 30%;
    min-width: 350px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;   
}

nav ul li a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(207, 207, 207);
}

section{
    padding: 22px 0px;
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 30%;
}

.profile img{
    background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 1px 3px 3px 3px rgb(192, 192, 192);
    min-width: 250px;
    max-width: 250px;
}

.pInfo {
    text-align: center;
    min-width: 300px;
}
.profile div p{
    font-size: 20px;
}

.button{
    background-color: #005035;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.button2{
    background-color: rgb(207, 207, 207);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


.reviews{
    background-color: white;
    padding: 25px 50px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px rgb(192, 192, 192);
    height: 50vh;
    overflow-y: auto;
}
.reviews::-webkit-scrollbar{
    display: none;
}

section h1{
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
}

.review{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #005035;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px rgb(192, 192, 192);
    width: 80%;
    margin:  30px auto;
}
.reviews h2{
    padding-bottom: 10px;
}

.review a:hover{
    color: #5f776f;
}