*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #e6e6e6;
    padding-bottom: 40px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 1px 2px 0px 0px rgb(192, 192, 192);
}
header img{
    width: 200px;
}
nav{
    width: 30%;
    min-width: 350px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(207, 207, 207);
}

main{
    display: flex;
    width: 100%;
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;

}

.bathroom{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.bathroom div{
    width: 40%;
    padding: 50px;
}

.bathroom div h2{
    padding: 20px;
}
.bathroom div p{
    font-size: 20px;
}

main img{
    width: 300px;
    padding:  0px 20px;
}

h1{
    text-align: center;
    padding: 0px 0px 10px 0px;
}

main h1{
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.button{
    background-color: #005035;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

#btn{
    background-color: goldenrod;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#btn:hover{
    color: white;
    background-color: gold;
}



.reviews{
    background-color: white;
    padding: 25px 50px;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px rgb(192, 192, 192);
    height: 50vh;
    overflow-y: auto;
}
.reviews::-webkit-scrollbar{
    display: none;
}

section h1{
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
}

.review{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #005035;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px 3px 3px rgb(192, 192, 192);
    width: 80%;
    margin:  30px auto;
}
.reviews h2{
    padding-bottom: 10px;
}

.review a:hover{
    color: #5f776f;
}