*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #e6e6e6;
    padding-bottom: 40px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 1px 2px 0px 0px rgb(192, 192, 192);
}
header img{
    width: 200px;
}
nav{
    width: 30%;
    min-width: 350px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(207, 207, 207);
}

main{
    display: flex;
    width: 100%;
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;

}

.building{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.building div{
    width: 40%;
    padding: 50px;
}

.building div h2{
    padding: 20px;
}
.building div p{
    font-size: 20px;
}

main img{
    width: 300px;
    padding:  0px 20px;
}

main h1{
    text-align: center;
    padding: 30px 0px 10px 0px;
}

.button{
    background-color: #005035;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.container {
    width: 90%;
    display: grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2rem;
    color: #ffffff;
    padding: 20px 0px 0px 0px;
    margin: 0 auto;
    
}

.container div{
    background-color: #005035;
    border-radius: 20px;
    padding: 60px;
    font-size: 2rem;
    text-align: center;
    box-shadow: 1px 2px 2px 2px rgb(192, 192, 192);
}

.review-container {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#btn{
    background-color: goldenrod;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}