*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #e6e6e6;
    padding-bottom: 40px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    box-shadow: 1px 2px 0px 0px rgb(192, 192, 192);
}
header img{
    width: 200px;
}
nav{
    width: 30%;
    min-width: 350px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(207, 207, 207);
}

main{
    display: flex;
    width: 100%;
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main img{
    max-width: 60%;
    min-width: 800px;
    margin: 50px 0px;
    border-radius: 35px;
    box-shadow: 1px 3px 3px 3px rgb(192, 192, 192);
}
main h1{
    padding: 0px 0px 40px 0px;
}

.button{
    background-color: #005035;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.container {
    width: 90%;
    display: grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2rem;
    color: #ffffff;
    
}

.container div{
    background-color: #005035;
    border-radius: 20px;
    padding: 60px;
    font-size: 2rem;
    text-align: center;
    box-shadow: 1px 2px 2px 2px rgb(192, 192, 192);
}