<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/aboutstyles.css">
    <title>Loo Locator</title>
</head>
<body>
    

    <section>
        <header>

            <a href="index.html"><img src="../static/LooLocator2.png"></a>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li>|</li>
                    <li><a href="testimonial.html">Testimonial</a></li>
                    <li>|</li>
                    <li>
                        <form action = '/signin' method = 'get'>
                            <button type="submit" class="button">Sign In</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="hero-container">
            <div class="hero">
                <img src="../static/LooLocator.png">
                <div class="hero-text">
                    <h1>About us</h1>
                    <p>At Loo Locator, we believe that comfort and cleanliness shouldn’t be a gamble. Our mission is to help students navigate campus life with ease by providing a platform to discover the best-rated bathrooms around. Whether you’re in a rush between classes or just looking for a comfortable place to freshen up, Loo Locator is your go-to guide for bathroom quality, cleanliness, and accessibility—rated by fellow students who’ve been there. Say goodbye to unpleasant surprises and hello to better bathroom breaks, because your comfort is our priority.</p>       
                    
                </div>
                
            </div>
        </div>
        
    </section>
        
        
    
</body>
</html>
