<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/accountstyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../static/LooLocator2.png">
        <nav>
            <ul>
                <li><a>About</a></li>
                <li>|</li>
                <li><a>Testimonial</a></li>
                <li>|</li>
                <li><a class="button">Account</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        
    </section>
</body>
</html>