<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/accountstyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../static/LooLocator2.png">
        <nav>
            <ul>
                <li><a href="main.html">Home</a></li>
                <li>|</li>
                <li><a>About</a></li>
                <li>|</li>
                <li><a href="account.html" class="button">Account</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="profile">
            <img src="../static/profile.png">
            <div class="pInfo">
                    <h2 style="display: inline-block;">E-mail: </h2><p style="display: inline-block; padding-left: 10px;">example@uncc.edu</p>
                    <br>
                    <h2 style="display: inline-block;">Username: </h2><p style="display: inline-block; padding-left: 10px;">ExampleStudent</p>
                    <br>
                    <h2 style="display: inline-block;">Password: </h2><p style="display: inline-block; padding-left: 10px;">*******</p>
                    <br>
                    <form action = '/login' method = 'get' style="margin-top: 20px;">
                        <a class="button">Update</a>
                    </form>  
            </div>
        </div>
        <h1>Reviews</h1>
        <div class="reviews">
            
            <div class="review">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab eius, aperiam dolor nulla dicta autem eos accusantium, excepturi iure voluptas in aspernatur. Temporibus, reiciendis accusantium explicabo alias tenetur saepe eaque, nihil totam numquam perferendis aliquid ratione sapiente libero perspiciatis.</p>
            </div>
            <div class="review">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab eius, aperiam dolor nulla dicta autem eos accusantium, excepturi iure voluptas in aspernatur. Temporibus, reiciendis accusantium explicabo alias tenetur saepe eaque, nihil totam numquam perferendis aliquid ratione sapiente libero perspiciatis.</p>
            </div>
            <div class="review">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab eius, aperiam dolor nulla dicta autem eos accusantium, excepturi iure voluptas in aspernatur. Temporibus, reiciendis accusantium explicabo alias tenetur saepe eaque, nihil totam numquam perferendis aliquid ratione sapiente libero perspiciatis.</p>
            </div>
            <div class="review">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab eius, aperiam dolor nulla dicta autem eos accusantium, excepturi iure voluptas in aspernatur. Temporibus, reiciendis accusantium explicabo alias tenetur saepe eaque, nihil totam numquam perferendis aliquid ratione sapiente libero perspiciatis.</p>
            </div>
            <div class="review">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab eius, aperiam dolor nulla dicta autem eos accusantium, excepturi iure voluptas in aspernatur. Temporibus, reiciendis accusantium explicabo alias tenetur saepe eaque, nihil totam numquam perferendis aliquid ratione sapiente libero perspiciatis.</p>
            </div>
            <div class="review">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab eius, aperiam dolor nulla dicta autem eos accusantium, excepturi iure voluptas in aspernatur. Temporibus, reiciendis accusantium explicabo alias tenetur saepe eaque, nihil totam numquam perferendis aliquid ratione sapiente libero perspiciatis.</p>
            </div>
        </div>
    </section>
</body>
</html>