<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/buildingstyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../static/LooLocator2.png">
        <nav>
            <ul>
                <li><a>Home</a></li>
                <li>|</li>
                <li><a>About</a></li>
                <li>|</li>
                <li><a href="account.html" class="button">Account</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>{{ building.bname }}</h1>
        <div class="building">
            <img src="../static/placeholder.png">
            <div>
                <h2>Average Bathroom Rating: NA/5</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatum molestiae error aperiam reprehenderit reiciendis perferendis a sed facere minus.</p>
            </div>
        </div>
        <h1>Bathroom</h1>
        <section class="container">
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
    </main>
</body>
</html>