<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loo Locator - Find the Best Bathrooms</title>
    <link rel="stylesheet" href="../static/homestyles.css">
</head>
<body>
    <section>
        <div class="homepage-container">
            <h1>Welcome to Loo Locator!</h1>
            <p>Finding a clean and comfortable bathroom shouldn't be a challenge. Loo Locator is your go-to guide for discovering the best-rated restrooms on campus. Whether you're in search of privacy, cleanliness, or just a quiet spot to take a break, we've got you covered.</p>
            <p>Say goodbye to unpleasant surprises and let Loo Locator guide you to the best bathrooms around!</p>
            <form action = '/login' method = 'get'>
                <button type="submit" class="login-btn">Log in to Get Started</button>
            </form>
        </div>
        <div>
            
        </div>
        <img src="../static/LooLocator.png">
    </section>
    
</body>
</html>
