<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/landingstyles.css">
    <title>Loo Locator</title>
</head>
<body>
    

    <section>
        <header>
            <img src="../static/LooLocator2.png">
            <nav>
                <ul>
                    <li><a>About</a></li>
                    <li>|</li>
                    <li><a>Testimonial</a></li>
                    <li>|</li>
                    <li>
                        <form action = '/signin' method = 'get'>
                            <button type="submit" class="button">Sign In</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="hero-container">
            <div class="hero">
                <div class="hero-text">
                    <h1>Clean, Convenient, Close<br>The Best Bathrooms at your Fingertips</h1>
                    <p>Finding a clean and comfortable bathroom shouldn't be a challenge. Loo Locator is your go-to guide for discovering the best-rated restrooms on campus. Whether you're in search of privacy, cleanliness, or just a quiet spot to take a break, we've got you covered.</p>
                    <p>Say goodbye to unpleasant surprises and let Loo Locator guide you to the best bathrooms around!</p>
                    <form action = '/signup' method = 'get'>
                        <button type="submit" class="button">Sign up to Get Started</button>
                    </form>        
                    
                </div>
                <img src="../static/StockMan.png">
            
            </div>
        </div>
        
    </section>
        
        
    
</body>
</html>
