<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mainstyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../static/LooLocator2.png">
        <nav>
            <ul>
                <li><a>About</a></li>
                <li>|</li>
                <li><a>Testimonial</a></li>
                <li>|</li>
                <li><a class="button">Account</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="../static/UNCCPlaceHoldImage.JPG">
        <h1>Top Rated</h1>
        <section class="container">
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
            <div>Bathroom Placeholder</div>
    </main>
</body>
</html>